:root {
    --white-color: #ffffff;
    --pink-light-color: #f2cef2;
    --purple-light-color: #9e91b7;
    --pink-color: #df99f2;
    --purple-color: #3d2da6;
    --blue-color: #07338c;
    --blue-dark-color: #021740;
    --purple-color-social-media: #9e91b7;
    --size-h1: 4.25rem;
    --size-h2-beyno: 2rem;
    --size-h2-wakanda-forever: 2.6875rem;
    --size-texte-enigme: 2.6875rem;
    --size-texte: 1rem;
    --size-citation: 0.875rem;
    --size-footer: 0.625rem;
}


/*media query laptop L*/

@media (max-width: 1700px) {}


/*media query laptop */

@media (max-width: 1350px) {
     :root {
        --size-h1: 3.5rem;
        --size-h2-beyno: 2.25rem;
        --size-h2-wakanda-forever: 2.375rem;
        --size-texte-enigme: 2.125rem;
    }
}

@media (max-width: 1024px) {
     :root {
        --size-h1: 2.5rem;
        --size-h2-beyno: 1.75rem;
        --size-h2-wakanda-forever: 2rem;
        --size-texte-enigme: 2rem;
    }
}


/*media query tablet*/

@media (max-width: 864px) {
     :root {
        --size-h1: 2rem;
        --size-h2-beyno: 1.5rem;
        --size-h2-wakanda-forever: 1.75rem;
        --size-texte-enigme: 1.75rem;
    }
}


/*media query telephone*/

@media (max-width: 625px) {}