@import url('../components/buttons.css');
@import url('../components/forms.css');

/* section intro presentation black panther */

#intro-presentation-black-panther {
    width: 100%;
}

.content-intro-presentation-black-panther {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.illustration-black-panther {
    width: 55%;
    order: 2;
}

.text-intro-presentation-black-panther {
    order: 1;
    padding-right: 0;
    text-align: left;
    margin-bottom: 10%;
    padding-top: 10%;
}

.container-intro-presentation-black-panther {
    margin-right: 0;
}

.text-intro-presentation-black-panther h1 {
    text-transform: uppercase;
}


/* section list-personnage-black-panther  */

.presentation__personnage_list__background__color {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: var(--blue-dark-color);
}

.presentation__personnage_list {
    display: grid;
    grid-template-columns: 3% 18% 25% 18% 22% 14%;
    grid-template-rows: 10% 100% 10%;
}

.presentation__personnage_list__img__1 img,
.presentation__personnage_list__img__2 img,
.presentation__personnage_list__img__3 img {
    width: 100%;
    height: 100%;
}

.presentation__personnage_list__img__1 {
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: start;
}

.presentation__personnage__items__1 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.presentation__personnage_list__img__2 {
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: start;
}

.presentation__personnage__items__2 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.presentation__personnage_list__img__3 {
    grid-column: 6/7;
    grid-row: 2/3;
    justify-self: end;
    display: flex;
}

.presentation__personnage__items__1,
.presentation__personnage__items__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentation__personnage__items__1__text,
.presentation__personnage__items__2__text {
    margin: 5%;
}

.chevron__right {
    grid-column: 6;
    grid-row: 2;
    align-self: center;
    max-width: 50px;
    justify-self: end;
    margin-right: 5%;
}

.chevron__left {
    display: none;
}


/* main section */

.main__section {
    display: flex;
    margin-top: 10%;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.main__section__left {
    margin-top: 10%;
    width: 70%;
}

.main__section__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-left-section {
    margin-left: 10%;
}


/* section fiche presentation black panther */

.character__profile {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr max-content;
}

.character__profile * {
    color: var(--blue-dark-color);
}

.character__image {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
}

.character__profile_content {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 40%;
}

.character__profile__background {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: var(--white-color);
    border-radius: 16px;
}

.character__profile_content__text {
    margin-top: 10%;
}

.character__profile_content__text__titre {
    text-align: center;
    margin: 0;
}

.character__profile_content__text__caracteristique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 0;
}

.character__profile_content__text__caracteristique li {
    background-color: var(--purple-color);
    color: var(--white-color);
    padding: 2%;
    text-align: center;
    border-radius: 5px;
}

.character__profile_content__text__description .fiche__black__panther__valeur {
    font-weight: 900;
}

.character__profile_content__text__description li {
    padding: 2% 0;
}


/* section formulaire */

#formulaire {
    background-image: url(../../img/accueil/Pantherhome7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.bloc-formulaire {
    width: 60vw;
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
    border-radius: 250px;
}

.bloc-formulaire * {
    color: var(--blue-dark-color);
}

input,
textarea {
    border-color: var(--blue-dark-color);
}

.btn {
    background-color: var(--pink-light-color);
}

input::placeholder,
textarea::placeholder {
    color: var(--blue-dark-color);
}


/*media query laptop XL*/

@media (max-width: 1700px) {
    /* section list-personnage-black-panther  */
    .presentation__personnage_list {
        grid-template-columns: 3% 22% 26% 22% 23% 4%;
    }
    .presentation__personnage_list__img__3 {
        display: none;
    }
}


/*media query laptop L*/

@media (max-width: 1400px) {
    /* section list-personnage-black-panther  */
    .presentation__personnage_list {
        grid-template-columns: 2% 25% 48% 25%;
    }
    .presentation__personnage_list__img__3,
    .presentation__personnage__items__2__text {
        display: none;
    }
    .chevron__right {
        grid-column: 4;
    }
    /* section intro-presentation-black-panther */
    .character__profile_content__text__caracteristique {
        flex-direction: column;
    }
    .character__profile_content__text__caracteristique li {
        margin: 3% 0;
    }
    .character__profile_content__text__caracteristique li:first-child {
        margin: 0;
    }
    .character__profile_content__text__caracteristique li:last-child {
        margin: 0;
    }
    /* main section */
    .main__section {
        display: flex;
        margin-top: 10%;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
    }
    .main__section__left {
        margin-top: 10%;
        width: 100%;
    }
}


/*media query laptop*/

@media (max-width: 1020px) {
    .bloc-formulaire {
        width: 70vw;
    }
}


/*media query tablette L*/

@media (max-width: 864px) {
    /* presentation__personnage */
    .margin-left-section {
        margin-left: 5%;
    }
    /* section list-personnage-black-panther  */
    .presentation__personnage_list {
        grid-template-columns: 3% 39% 54% 4%;
    }
    .presentation__personnage_list__img__3,
    .presentation__personnage__items__2__text,
    .presentation__personnage_list__img__2 {
        display: none;
    }
    /* main section */
    .main__section {
        flex-direction: column;
    }
    .main__section__left,
    .main__section__right {
        margin: 0;
        padding: 0;
    }
    .main__section__right {
        grid-column: 1/2;
    }
    .bloc-formulaire {
        width: 100%;
        border-radius: 20vw 20vw 0 0;
    }
}


/*media query tablette*/

@media (max-width: 650px) {
    /* section intro presentation black panther */
    .illustration-black-panther {
        display: none;
    }
    .text-intro-presentation-black-panther p {
        margin-bottom: 0;
    }
    #intro-presentation-black-panther {
        position: relative;
        z-index: 1;
        padding-top: 20%;
    }
    #intro-presentation-black-panther::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../img/accueil/Pantherhome1..png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 40%;
        z-index: -1;
    }
    /* section list-personnage-black-panther  */
    .presentation__personnage_list {
        grid-template-columns: 10% 10% 50% 10% 10%;
        grid-template-rows: 5% max-content max-content;
        justify-content: center;
    }
    .presentation__personnage_list__img__3,
    .presentation__personnage__items__2__text,
    .presentation__personnage_list__img__2 {
        display: none;
    }
    .presentation__personnage_list__img__1 {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .presentation__personnage__items__1 {
        grid-column: 2/5;
        grid-row: 3/4;
    }
    .presentation__personnage_list__background__color {
        grid-row: 2/-1;
        grid-column: 2/5;
    }
    .presentation__personnage_list__img__1 {
        justify-self: center;
    }
    .presentation__personnage__items__1 h2 {
        text-align: center;
    }
    #presentation__personnage {
        margin: 0 5% 10%;
    }
    .chevron__left {
        display: block;
        grid-column: 1;
        grid-row: 1/-1;
        align-self: center;
        justify-self: center;
        margin: 0 10%;
        rotate: 180deg;
    }
    .chevron__right {
        grid-column: 5;
        grid-row: 1/-1;
        align-self: center;
        justify-self: center;
        margin: 0 10%;
    }
    /* section intro-presentation-black-panther */
    .text-intro-presentation-black-panther {
        margin: 0;
        padding: 0rem 5rem 4rem 1.5rem;
        width: 100%;
    }
    .bloc-formulaire {
        padding: 3%;
        padding-top: 27%;
    }
}


/*media query mobile*/

@media (max-width: 425px) {
    .text-intro-presentation-black-panther {
        padding: 0rem 1.5rem 4rem;
    }
}