/* footer */

footer {
    box-sizing: border-box;
    background-image: url(../../img/all-page/back_footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 150px;
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer * {
    color: white;
}

footer h1 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    font-weight: normal;
    font-family: 'cantarell';
    color: white;
}


/* footer trois cercle logo*/

.footer__trois__cercle__logo {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.25fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.25fr 1fr;
    width: 300px;
    height: 300px;
}

.cercle {
    border-radius: 50%;
}

.cercle__blue {
    width: 100%;
    height: 100%;
    background-color: #003399;
    grid-column: 1/3;
    grid-row: 1/3;
}

.img__cercle_violet {
    grid-column: 2/5;
    grid-row: 2/5;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
}

.img__cercle_violet__logo {
    grid-area: 1/1;
    display: block;
    z-index: 1;
    justify-self: center;
    align-self: center;
    width: 50%;
}

.cercle__violet {
    width: 100%;
    height: 100%;
    background-color: #d49ffb;
    grid-area: 1/1;
    opacity: 0.6;
}

.cercle__rose {
    width: 100%;
    height: 100%;
    background-color: #f0a7f5;
    grid-column: 4/6;
    grid-row: 4/6;
}


/* section pages footer */

.footer__pages {
    grid-column: 2;
    grid-row: 1;
}

.footer__pages__list {
    display: flex;
    flex-direction: column;
}

.footer__pages__list li {
    margin-bottom: 20px;
}


/* footer reseau sociaux */

.footer__reseaux__sociaux {
    grid-column: 3;
    grid-row: 1;
}

.footer__reseaux__sociaux__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 250px;
}


/* footer legal info */

.footer__legal__info {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: var(--size-footer);
}


/*media query laptop L*/

@media (max-width: 1700px) {}


/*media query laptop */

@media (max-width: 1350px) {
    #footer {
        padding: 0 5% 5%;
        padding-top: 10%;
    }
}


/*media query tablette*/

@media (max-width: 864px) {
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        gap: 0;
        text-align: center;
    }
    .footer__img_decorative__logo,
    .footer__pages,
    .footer__reseaux__sociaux,
    .footer__legal__info {
        grid-column: 1/2;
    }
    .footer__img_decorative__logo {
        grid-row: 1/2;
        display: none;
    }
    .footer__pages {
        grid-row: 2/3;
        padding-top: 15px;
        text-align: center;
        padding-left: 3%;
    }
    #footer h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .footer__reseaux__sociaux {
        grid-row: 3/4;
    }
    .footer__legal__info {
        grid-row: 4/5;
        margin-bottom: 15px;
    }
    .footer__reseaux__sociaux__list {
        margin: 0 auto;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
    }
    .footer__trois__cercle__logo {
        justify-self: center;
    }
}


/*media query telephone*/

@media (max-width: 625px) {}


/* animation */

.footer__reseaux__sociaux__list li,
.img__cercle_violet {
    transition: transform 0.3s ease;
}

.footer__reseaux__sociaux__list li:hover,
.img__cercle_violet:hover {
    transform: scale(1.1);
}